@model IEnumerable<LAB2_2530019_1203819.Models.PedidosFarmacos>

@{
    ViewData["Title"] = "Index";
}

<h1>Carrito :D</h1>

<div class="input-group mb-3">
    <div class="form-group">
        <label for="Name">Nombre del Cliente</label>
        <input type="text" name="nombredelacaja">
    </div>
    <div style="text-align: center;"><button style="position: absolute;top: 15%;Left: 70%;">Hello</button></div>
    <form asp-controller="Farmacoes" asp-action="Index">
        <div class="form-group">
            <div style="text-align: center;"><button style="position: absolute;top: 15%;Left: 70%;">Agregar otro producto</button></div>
        </div>
    </form>
</div>
<div class="row">
    <div class="form-group">
        <label for="Name">Dirrecion</label>
        <input type="text" name="nombredelacaja">
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label for="Name">Nit</label>
        <input type="text" name="nombredelacaja">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
            </tr>
        }
    </tbody>
</table>
